<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    style.
      body {
        font-family: 'Noto Sans Japanese';
      }
    </style>
    <title>Reach</title>
  </head>
  <body>
    <div id='root'>
      - if (content)
        != content
    </div>
    <script src='bundle.js'></script>
    <style id='jss-server-side'>
      - if (css)
        != css
    </style>
  </body>
</html>
